@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, magenta, purple);
    font-family: 'Teko', sans-serif;
}

.container {
    background-color: white;
    width: 470px;
    padding: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: cornflowerblue;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

#convert {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    border: none;
}

#convert:hover {
    background-color: darkblue;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkgreen;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: white;
}
